@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
	margin: 0;
	padding: 0;
}

html {
	background-color: #2C2C2C;
}

/* NAVBAR */

#navbar {
	display: flex;
	padding: 20px;
	justify-content: space-around;
	background-color: #FFB266;
}

#logo_img {
	width: 320px;
}

#menu {
	font-family: 'Dancing Script', 'Marck Script', cursive;
	font-size: 22px;
	font-weight: bold;
}

#menu a:hover {
	background-color: #FFCC99;
	padding: 9px;
	border-radius: 8px;
}

#navbar a {
	color: black;
	text-decoration: none;
}

#lang_menu img {
	width: 35px;
}

#menu, #glovo, #lang_menu {
	display: flex;
	align-items: center;

}

#lang_menu, img {
	padding: 0px 10px 0px 10px;
}

#menu a {
	padding: 0px 9px 0px 9px;
}

.glovo {
	background-color: #33FF33;
	padding: 14px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	display: flex;
	justify-content: center;
}

#glovo_buton {
	border-radius: 13px;
}

.glovo:hover {
	background-color: #66FF66;
}

.glovo img {
	width: 25px;
}


/* MENIULLLLLL */

center {
	background-color: #FFCC99;
}

#menu_panel {
	background-color: #FFCC99;
	padding: 20px 0px 20px 0px;

}

table img {
	height: 170px;
	width: 270px;
	border-radius: 40px;
}

table td {
	transition: transform .2s;s
}

table td:active {
	transform: scale(1.8); 
}


td {
	padding-bottom: 20px;
	text-align: center;
	margin: 0px 30px 0px 30px;
}


.menu_title {
	font-family: 'Dancing Script', 'Marck Script', cursive;
	font-size: 50px;
	font-weight: bold;
	padding: 20px 0px 10px 0px;

}

.menu_element_title {
	font-family: 'Dancing Script', 'Marck Script', cursive;
	font-weight: bold;
	font-size: 22px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.menu_price {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


#tip {
	font-size: 25px;
	padding-top: -30px;
	font-family: 'Dancing Script', 'Marck Script', cursive;
	font-weight: bold;
}



































/* GLOVO FOOTER */

#glovo_footer {
	display: flex;
	justify-content: center;
	color: black;
}

#glovo_footer a {
	text-decoration: none;
}

/* FOOTER */

#footer {
	background-color: #2C2C2C;
	display: flex;
	padding: 20px;
	justify-content: space-around;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.s_images {
	height: 36px;
	filter: saturate(0);
}

.s_images:active{
   -webkit-filter: saturate(1);
   filter: saturate(1)
}

#phone_img {
	width: 10px;
	filter: invert(1);
}

#socials img {
	padding: 0px 5px 0px 5px;
}

#phone a {
	color: white;
	text-decoration: none;
}

#rights, #phone {
	display: flex;
	align-items: center;
}